.profile-nav a {
  padding: 20px;
  text-align: center;
}

.profile-nav a.active {
  border-bottom: 3px solid #eda01b;
}

.avatar {
  left: 1.5rem;
  position: absolute;
  width: 10.1rem;
  height: 10.1rem;
  opacity: 0;
}
